.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    padding: 0px var(--horizontal-space);
    /* position: fixed; */
    width: 100%;
    box-sizing: border-box;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 20px;
}
.screen-header__icons span:last-child{
    position: relative;
}
.red-dot{
    display: flex;
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

@keyframes cogAnimation{
    from{
        rotate: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header .fa-cog:hover{
    animation: cogAnimation 1.5s linear infinite;
}